
<form  method="POST" [formGroup]="addInvoiceForm" (ngSubmit)="addData()">
  <div class="formularz" *ngFor="let item of items">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input  type="text" class="form-control" formControlName="name" matInput
        [formControl]="item.nameFormControl">
      <!---   <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>-->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Count</mat-label>
      <input  type="number" class="form-control" formControlName="count" matInput [formControl]="item.countFormControl">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input  type="number" matInput [formControl]="item.priceFormControl" class="form-control"
        formControlName="price">
    </mat-form-field>
    <button mat-icon-button color="primary" class="delete" matTooltip="Remove item" (click)="deleteForm(item)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="add-new">
    <button type="button" mat-icon-button color="primary" class="add" matTooltip="Add new item" (click)="addForm()">
      <mat-icon>add</mat-icon>
      Add new item
    </button>
  </div>
  <div class="add">
    <button mat-icon-button color="primary" class="myButton" id="add_data_button">
      Submit
    </button>
  </div>
</form>

